html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars1 {
  width: 5px;
  height: 5px;
  background-color: transparent;
  /* box-shadow: 120px 80px 40px 20px #0ff; */
  margin-left: 0%;
  margin-top: 0%;
}

.tuning-closer {
  animation: animateBoxCloser 1s linear infinite;
}

.tuning-further {
  animation: animateBoxFurther 1s linear infinite;
}

.red {
  box-shadow: 120px 80px 40px 20px #ff0000
}

.green {
  box-shadow: 120px 80px 40px 20px #008000
}

@keyframes animateBoxCloser {
  to {
    margin-left: 40%;
    margin-top: 20%;
  }
}

@keyframes animateBoxFurther {
  to {
    margin-left: 0%;
    margin-top: 0%;
  }
}
